<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Auths">
        <select id="selectWithUSERNAME" parameterType="Map" resultType="Map">
        SELECT AUTH_NAMES.AUTH_NAME, AUTH_NAMES.UNIQUE_ID
        FROM AUTHS
                inner JOIN AUTH_NAMES
        ON AUTHS.UNIQUE_ID_AUTH_NAMES = AUTH_NAMES.UNIQUE_ID
        AND AUTHS.UNIQUE_ID_USERS = #{USERNAME}
        ;
        </select>

        <!-- 입력 -->
        <insert id="insert" parameterType="Map">
        insert into AUTHS 
        (UNIQUE_ID_USERS,UNIQUE_ID_AUTH_NAMES)
        values
        <foreach item="auth" collection="authList"
            separator="," nullable="true">
        (#{USERNAME},#{auth})
        </foreach>        
        ;
    </insert>

</mapper>
